.container{
  position: absolute;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.unity{
  width: 100%;
  height: 100%;
}
.full-screen{
  height: 22px;
    position: absolute;
    display: flex;
    text-decoration:none;
    top: 8px;
    right: 16px;
    font-size: 18px;
    padding: 0 0 0 0;
    width: 22px;
    border-radius : 3px;
}